#block-views-latest-block
{
	
}

	/* Sidebar: */

.region-sidebar-second .section {
	  border-radius: 8px;
	  background: #000000;
	  background-image: -o-linear-gradient(-90deg, #0088FF 0%, rgba(0,0,0,0.50) 100%);
	  background-image: -moz-linear-gradient(-90deg, #0088FF 0%, rgba(0,0,0,0.50) 100%);
	  background-image: -webkit-linear-gradient(-90deg, #0088FF 0%, rgba(0,0,0,0.50) 100%);
	  background-image: -ms-linear-gradient(-90deg, #0088FF 0%, rgba(0,0,0,0.50) 100%);
	  background-image: linear-gradient(-90deg, #0088FF 0%, rgba(0,0,0,0.50) 100%);
	  border-style: 1px solid #979797;
	min-height:600px;
	width:220px;
}
.region-sidebar-second
{
padding:20px 10px 0 0;
}

#navigation ul#main-menu
{
	padding:10px 0 0 20px;
	font-size:16px;
	text-decoration:none;
}
#navigation ul#main-menu li a
{
	text-decoration:none;
	border-right:1px solid #959595;
	padding:0 10px 0 10px;
}